./.metadata/

./camel-microsservice-a/.mvn/
./camel-microsservice-a/.settings/
./camel-microsservice-a/target/
./camel-microsservice-a/.classpath
./camel-microsservice-a/.project
./camel-microsservice-a/HELP.md
./camel-microsservice-a/mvnw
./camel-microsservice-a/mvnw.cmd

./camel-microsservice-b/.mvn/
./camel-microsservice-b/.settings/
./camel-microsservice-b/target/
./camel-microsservice-b/.classpath
./camel-microsservice-b/.project
./camel-microsservice-b/HELP.md
./camel-microsservice-b/mvnw
./camel-microsservice-b/mvnw.cmd

